language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"
# command to install dependencies
install:
  - pip install .
  - pip install -r requirements-test.txt
# command to run tests
script: pytest
